@import "./reset.css";
@font-face {
  font-family: NanumBarunGothic;
  src: url("../assets/fonts/nanum-barun-gothic/NanumBarunGothic.otf");
}

header {
  width: 1100px;
  height: 91px;
  color: #4444;
  font-size: 15px;
  background-color: black;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
}

#loginform > ul {
  display: flex;
}

#loginform li {
  font-size: 13px;
}

#loginform-1st {
  display: flex;
  position: absolute;
  top: 10px;
  left: 0;
}

#loginform-2st {
  display: flex;
  position: absolute;
  top: 10px;
  right: 0;
}

#loginform-1st > li {
  margin-right: 20px;
}

#loginform-2st > li {
  margin-left: 20px;
}

header > img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

nav li {
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  color: white;
}

nav > div {
  display: flex;
  position: absolute;
  top: 42px;
}

nav img {
  margin-left: 5px;
}

.menu-img {
  margin-right: 5px;
}

#menu-1st {
  display: flex;
  margin-left: 50px;
}

#menu-1st > li {
  margin-right: 30px;
  font-weight: 500;
}

#menu-2st {
  display: flex;
  margin-right: 50px;
}

#menu-2st > li {
  margin-left: 15px;
  font-weight: 500;
}

nav > div:nth-of-type(2) {
  right: 0;
}

.menu-img > img:nth-of-type(1) {
  margin-top: -10px;
}

.menu-img > img:nth-of-type(2) {
  margin-top: -20px;
}

main {
  width: 1100px;
  height: 800px;
  position: absolute;
  top: 91px;
  left: 50%;
  transform: translate(-50%, 0);
  background-color: pink;
}

#maintext {
  margin-top: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  color: white;
}

#maintext > h2 {
  padding-bottom: 5px;
  border-bottom: 1px solid white;
}

#maintext > div {
  font-weight: 400;
  color: #aaaaaa;
  display: flex;
  position: absolute;
  right: 0;
}

#maintext > div > h3 {
  padding-right: 10px;
}

.chartwrap {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.chartwrap img {
  width: 245px;
}

.chartimage {
  position: relative;
}

.chartimage > img {
  border-radius: 10px;
  cursor: pointer;
}

.chartimage > h2 {
  position: absolute;
  top: 0;
  left: 0;
  color: white;
  padding: 10px 15px;
  font-size: 30px;
  font-style: italic;
  display: flex;
  justify-content: space-between;
  width: 210px;
  text-shadow: 2px 2px 2px rgb(0, 0, 0, 80%);
}

.chartimage div > img {
  width: 40%;
  border-radius: 3%;
  background-color: rgb(0, 0, 0, 80%);
}

.heart-wrap {
  display: flex;
  cursor: pointer;
}

.heart {
  width: 80px;
  height: 36px;
  display: flex;
  border-radius: 5px;
  border: 1px solid white;
  color: white;
  align-items: center;
  justify-content: center;
  background-color: black;
  margin-top: 5px;
}

.heart i {
  margin-right: 5px;
}

.heart-wrap > button {
  width: 160px;
  height: 36px;
  margin-top: 5px;
  margin-left: 3px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  background-color: #037b94;
  color: white;
}

#searchlink {
  width: 1100px;
  height: 75px;
  display: flex;
  margin-top: 73px;
  justify-content: space-around;
  background-color: black;
  color: white;
  align-items: center;
}

#searchlink input {
  width: 170px;
  height: 29px;
  background-color: black;
  border: none;
  color: white;
  margin-left: 30px;
  border-bottom: 1px solid gray;
}

#searchlink-search {
  width: 275px;
  height: 30px;
}

.cell {
  width: 275px;
  height: 30px;
  display: flex;
  font-size: 14px;
  justify-content: center;
  border-left: 1px solid gray;
}

.cell > p {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.cell > P:hover {
  border-bottom: 1px solid white;
}

.cell > img {
  margin-right: 5px;
  cursor: pointer;
}

#mouse-animation {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

#mouse-animation > img {
  animation: mouse 1s alternate infinite;
}

@keyframes mouse {
  0% {
    margin-bottom: 0px;
  }

  100% {
    margin-top: 20px;
  }
}

#contents {
  width: 1100px;
  height: 800px;
  position: absolute;
  top: 891px;
  left: 50%;
  transform: translate(-50%, 0);
  background-color: rgba(0, 0, 0, 0);
  z-index: 6;
}

#contents-first {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#contents-first > h2 {
  font-size: 30px;
}

#contents-first > img {
  width: 16px;
  height: 16px;
}

#contents-second > div:nth-of-type(2) > img:nth-of-type(1) {
  width: 441px;
  height: 204px;
  margin-right: 15px;
  position: relative;
}

#contents-second > div:nth-of-type(2) > img:nth-of-type(2) {
  width: 204px;
  height: 204px;
  position: relative;
}

#contents-second > div:nth-of-type(3) {
  position: absolute;
  top: 30px;
  right: 0;
}

#benefit {
  position: absolute;
  width: 100%;
  top: 1380px;
  background-color: #503396;
  color: white;
  display: flex;
  justify-content: center;
}

#benefit > div {
  width: 1100px;
  height: 331px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#benefit > div > div {
  text-align: center;
  line-height: 1.5;
}

#curation {
  width: 100%;
  background-color: #252451;
  position: absolute;
  top: 1711px;
  color: white;
  display: flex;
  justify-content: center;
}

#curation-1st {
  width: 1100px;
  height: 123px;
  box-sizing: border-box;
  padding-top: 50px;
  padding-bottom: 40px;
  display: flex;
  justify-content: space-between;
  position: absolute;
  left: 50%;
  transform: translate(-550px, 0);
}

#curation-1st > h2 {
  font-size: 30px;
}

#curation-1st span {
  margin-right: 10px;
  color: gray;
  cursor: pointer;
}

#curation-2nd {
  width: 1100px;
  height: 588px;
  display: flex;
  justify-content: center;
  margin-top: 123px;
}

#curation-2nd-left {
  margin-right: 50px;
}

#curation-2nd-left img:nth-child(1) {
  position: absolute;
  top: 113px;
}

#curation-2nd-left img:nth-child(2) {
  width: 300px;
  padding-left: 20px;
  border-radius: 15px;
}

#curation-2nd-left-btn {
  display: flex;
  margin-left: 20px;
  padding-top: 10px;
}

#curation-2nd-left-btn > div:nth-of-type(1) {
  width: 145px;
  height: 50px;
  border: 1px solid white;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  cursor: pointer;
}

#curation-2nd-left-btn > div:nth-of-type(2) {
  width: 145px;
  height: 50px;
  margin-left: 8px;
  background-color: #037b94;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  cursor: pointer;
}

#curation-2nd-right {
  width: 730px;
}

#curation-2nd-right > p:nth-of-type(1) {
  font-size: 20px;
  padding-bottom: 10px;
}

#curation-2nd-right > p:nth-of-type(2) {
  font-size: 36px;
  padding-bottom: 30px;
  border-bottom: 1px solid #474681;
}

#curation-2nd-right > p:nth-of-type(3) {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  line-height: 1.5;
}

#curation-img {
  display: flex;
  justify-content: space-between;
}

.curation-img-sub img {
  width: 170px;
  border-radius: 15px;
}

#curation-img p {
  margin-top: 10px;
}

#curation-img-bage {
  width: 730px;
  display: flex;
  position: absolute;
}

#curation-img-bage > img {
  margin-right: 152px;
}
