@import './reset.css';
@font-face {
  font-family: NanumBarunGothic;
  src: url('../assets/fonts/nanum-barun-gothic/NanumBarunGothic.otf');
}

header {
  width: 1100px;
  height: 91px;
  color: #4444;
  font-size: 15px;
  background-color: darkgreen;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
}

#loginform > ul {
  display: flex;
}

#loginform li {
  font-size: 13px;
}

#loginform-1st {
  display: flex;
  position: absolute;
  top: 10px;
  left: 0;
}

#loginform-2st {
  display: flex;
  position: absolute;
  top: 10px;
  right: 0;
}

#loginform-1st > li {
  margin-right: 20px;
}

#loginform-2st > li {
  margin-left: 20px;
}

header > img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

nav {
}

nav li {
  font-size: 15px;
  display: flex;
  justify-content: space-between;
  color: white;
}

nav > div {
  display: flex;
  position: absolute;
  top: 42px;
}

#menu-1st {
  display: flex;
}

#menu-2st {
  display: flex;
}

nav > div:nth-of-type(2) {
  right: 0;
}

nav > div > div {
  position: absolute;
}
